<!DOCTYPE HTML>
<html>
	<head>
		<title>충청 남도 어디갈까?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/assets/css/main.css" />
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<div><a href="http://localhost:3000/" class="logo"><strong>충청 남도 어디갈까?</strong></a></div>
                                    
									<ul class="icons">
										<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
									</ul>
								</header>
								
								<!-- Banner -->
								<section id="table-wrapper">
									<% rows.forEach((row, index)=>{ %>
									<h1><%=row.이름%></h1>
                                    <h3><%=row.서브타이틀%></h3>
									<p><%=row.지역%> <%=row.카테고리%> / <%=row.전화번호%></p>
									
									<table>
										<tr>
											<td>Address</td>
											<td><%=row.주소%></td>
										</tr>
										<tr>
											<td>Details</td>
											<td><%=row.상세내용%></td>
										</tr>
										<tr>
											<td>tour tag</td>
											<td><%=row.여행태그%></td>
										</tr>
										<tr>
                                            <td>wheelchair</td>
                                            <td><%=row.기타%></td>
                                        </tr>
									</table>
									<ul class="actions">
											<li><a href="<%=row.홈페이지Url%>" class="button big">홈페이지 바로가기</a></li>
									</ul>
							
										<% }) %>
								</section>
							</div>
						</div>
	
					<!-- Sidebar -->
						<div id="sidebar">
							<div class="inner">
								<!--logo-->
								<header id="header">
									<h2><a href="http://localhost:3000/" class="logo">Chungnam <br> Where you want.</a></h2>
								</header>
								<!-- Menu -->
									<nav id="menu">
										<header class="major">
											<h2>Menu</h2>
										</header>
										<ul>
											<li><a href="http://localhost:3000/">들어가기전..</a></li>
											<li><a href="http://localhost:3000/chungnam">충청남도 소개</a></li>
											<li>
												<span class="opener">추천음식점</span>
												<ul>
													<li><a href="http://localhost:3000/food">충남 추천 맛집</a></li>
													<li><a href="http://localhost:3000/safe">모범음식점</a></li>
												</ul>
											</li>
											<li><a href="http://localhost:3000/room">숙박업소</a></li>
											<li><a href="http://localhost:3000/tour">관광명소</a></li>
											<li>
												<span class="opener">게시판</span>
												<ul>
													<li><a href="http://localhost:3000/review">게시글 보기</a></li>
													<li><a href="http://localhost:3000/write">게시글 쓰기</a></li>
												</ul>
											</li>
											<li><a href="http://localhost:3000/info">관련 사이트</a></li>
										</ul>
									</nav>
	
	
	
	
								<!-- Footer -->
									<footer id="footer">
										<p class="copyright">&copy; 2023.김효진 All rights reserved. | Tel: 010-9998-0172 e-mail: koj858@naver.com | Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
									</footer>
	
							</div>
						</div>
	
				</div>
	
			<!-- Scripts -->
				<script src="/stylesheets/assets/js/jquery.min.js"></script>
				<script src="/stylesheets/assets/js/browser.min.js"></script>
				<script src="/stylesheets/assets/js/breakpoints.min.js"></script>
				<script src="/stylesheets/assets/js/util.js"></script>
				<script src="/stylesheets/assets/js/main.js"></script>
	
		</body>
	</html>
	